<!DOCTYPE html>
<html>
    <head>
        <title><%= city.name %> Description</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>City Name: &ldquo;<%= city.name %>&rdquo;</h1>
            <h3>&ldquo;<%= city.description %>&rdquo;</h3>
        </div>
    </body>
</html>
